<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Modbus TCP konekcija -->
		<add key="Channel" value="TCP"/>
		<add key="TcpAddress" value="127.0.0.1"/>
		<add key="TcpPort" value="25252"/>
		<add key="StationAddress" value="15"/>

		<!-- Alternativni ključevi (ako kod traži druga imena) -->
		<add key="Host" value="127.0.0.1"/>
		<add key="Port" value="25252"/>
		<add key="Sta" value="15"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
